server:
  port: 8080

spring:
  application:
    name: ewm-main

  # DataSource для H2 (по умолчанию)
  datasource:
    url: jdbc:h2:mem:maindb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: gennad
    password:
    driver-class-name: org.h2.Driver

  # JPA настройки
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info
  endpoint:
    health:
      show-details: always

# URL для stats сервиса
stats-server:
  url: http://localhost:9090

logging:
  level:
    ru.practicum.explorewithme.server.exception: INFO
    root: WARN