# ewm-stats/server/src/main/resources/application-ci.yml
spring:
  datasource:
    url: jdbc:h2:mem:statsdb;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false

server:
  port: 9090

logging:
  level:
    root: WARN
    ru.practicum: DEBUG